.App {
  font-family: sans-serif;
  text-align: center;
}
p {
  text-align: initial;
}
.news__item {
  width: 49%;
}
.card-content {
  text-align: initial;
}
.nav {
  background-color: brown;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 15%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.container {
  margin-top: 40px;
}

@media (max-width: 600px) {
  .nav {
    padding: 0 10%;
  }
}
@media (max-width: 600px) {
  .nav {
    padding: 0 2%;
  }
  .news__item {
    width: 100%;
  }
}
